<div id="cubeContainer">
  <div id="cubeWrapper">
    <div class="head">
      <h1>Meet our local team</h1>
    </div>
    <div id="cubes">
      <div class="card-speaker">
        <img src="https://static.marketing.shawee.io/baymeetup/rodrigoterron.jpeg" alt="Rodrigo Terron">
        <div class="name">
          <h1>Rodrigo Terron</h1>
          <p>CEO</p>
          <img src="https://shawee.io/images/logo.svg" alt="Shawee" height="12" />
        </div>
        <div class="content">
          <ul>
            <li><a href="https://www.linkedin.com/in/rodrigoterron/"><span class="fab fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="card-speaker">
        <img src="https://static.marketing.shawee.io/baymeetup/akanj.jpeg" alt="Jean Paul Marinho">
        <div class="name">
          <h1>Jean Paul Marinho</h1>
          <p>iOS Engineer</p>
        </div>
        <div class="content">
          <ul>
            <li><a href="https://www.linkedin.com/in/akanj/"><span class="fab fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>