<div class="iframe-container">
  <iframe width="750" height="315" src="https://www.youtube.com/embed/JjXgdGN10kE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="iframe-container">
  <iframe width="750" height="315" src="https://www.youtube.com/embed/vGs1Hfh7HFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="iframe-container">
  <iframe width="750" height="315" src="https://www.youtube.com/embed/Mv8ode8Yt5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="iframe-container">
  <iframe width="750" height="315" src="https://www.youtube.com/embed/Kb-C6nseGGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
