---
---

//$header-bg-color: #000;
$header-bg-color-secondary: #961f57;

@import "{{ site.theme }}";

body {
  text-align: justify;
}

$red: #e86054;
$blue: #2b4b95;
$gray: #bbbbbb;

.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

input[type=email], input[type=text]{
  padding: .375rem .75rem;
  margin: .375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type=submit] {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $red;
  color:$red;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $red;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SUBMIT";
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$red;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$red;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $red;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#img-col img {
  max-width:80%;
}

@media (max-width: 900px) {
  #img-col img {
    max-width:50%;
    margin:15px;
  }
  .align-center {
    text-align:center !important;
  }
  .head h1:before, .head h1:after {
    content: "";
    height: 0px;
    width: 0px !important;
  }
}

.page-header {
  background: url(./BayMeetupLogo.svg) no-repeat, #f7f0de;
  background-size: contain;
  background-position: center center;
  color: $blue;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: $red;
  
  &:hover {
    background-color: rgba(158, 182, 32, .8);
  }
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: $red;
}

.card-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 350px;
  padding: 8px;
  margin: 16px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.1);
  >img {
    border-radius: 1000px;
  }
  >.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    >h1 {
      font-size: 16px;
      margin: 0;
      margin-top: 16px;
    }
    >p {
      font-size: 12px;
      margin: 0;
      text-align: left;
      margin-bottom: 16px;
    }
    >img {
      align-self: center;
    }
    >.grayImage {
      filter: invert(1);
    }
  }

  >.content {
    margin-top: 16px;
    width: 100%;
    >ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      .fa-linkedin {
        color: #0077B5;
      }

      .fa-twitter {
        color: #1da1f2;
      }
    }
  }
}
